* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto 1rem;
}

/* HEADER */
header img {
    height: 4em;
    padding-right: 1em;
    border-right: .08em solid #DEDEDE;
}

/* NAV */
nav {
    width: 100%;
    color: #B0B0B0;
    margin: 1.5rem 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #B0B0B0;
    font-size: 12px;
    font-weight: bold;
    margin-right: .4em;
}

a:hover {
    color: black;
}

/* MAIN */
main {
    position: relative;
    width: 100%;
    height: 24em;
    margin: 1rem 0;
    border-radius: .4em;
}

main img {
    width: 100%;
    height: 100%;
    filter: brightness(.8);
    object-fit: cover;
    border-radius: .4em;
}

.banner {
    position: absolute;
    width: 50%;
    color: white;
    font-weight: lighter;
    display: inline;
    left: 2em;
    bottom: 2.5em;
} 

.banner h1 {
    font-size: 25px;
    line-height: 30px;
}

.banner p {
    font-size: 13px;
    line-height: 15px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 



/* .clearfix::after {
    content: '';
    display: table;
    clear: both;
} */

/* DEBUG SECTION */
/* .debug .section-main {
    background-color: #0285FB;
}

.debug .section-header {
    background-color: #ABCFE7;
    height: 3em;
}

.debug .col {
    background-color: #ABCFE7;
    height: 20em;
}

.debug footer {
    background-color: #8801FE;
    height: 3em;
} */

/* MAIN */
/* .section-main {
    margin: .5rem 0;
    padding-bottom: 1rem;
}

.section-header {
    margin: 1rem 0;
}

.col {
    width: 20%;
    float: left;
}

.col-center {
    width: 50%;
    margin: 0 1rem;
}

.col-left,
.col-right {
    width: calc((100% - 50% - 2rem) /2);
} */