* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: 1rem auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* DEBUG SECTION */
.debug header {
    background-color: #E579E6;
    height: 4em;
}

.debug .banner {
    background-color: #E1D67A;
}

.debug .section-main {
    background-color: #0285FB;
}

.debug .section-header {
    background-color: #ABCFE7;
    height: 3em;
}

.debug .col {
    background-color: #ABCFE7;
    height: 20em;
}

.debug footer {
    background-color: #8801FE;
    height: 3em;
}

/* MAIN */
.banner {
    height: 20em;
    margin: 1rem 0;
}

.section-main {
    margin: .5rem 0;
    padding-bottom: 1rem;
}

.section-header {
    margin: 1rem 0;
}

.col {
    width: 20%;
    float: left;
}

.col-center {
    width: 50%;
    margin: 0 1rem;
}

.col-left,
.col-right {
    width: calc((100% - 50% - 2rem) /2);
}